@model IEnumerable<EmmaProject.Models.Customer>

@{
    ViewData["Title"] = "Customers";
}

<body class="inventory_body">
    <main>
        <form asp-action="index" method="get">
            <h1>CUSTOMERS</h1>
            <p>
                <a asp-action="Create" class="btn_crud">Create</a>
            </p>
            <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
            <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

            <div>
                <div class="row" style="width : 50%;">
                    <div class="form-group form-container">
                        <label class="control-label">Filter by First Name</label>
                        @Html.TextBox("FirstSearch", null, new {@class = "form-control"})
                    </div>
                    <div class="form-group form-container">
                        <label class="control-label">Filter by Last Name</label>
                        @Html.TextBox("LastSearch", null, new {@class = "form-control"})
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-container">
                        <input type="submit" class="btn_crud" name="actionButton" value="Filter" style="padding:12px;"/>
                        <a asp-action="Index" class="btn_crud">Clear</a>
                    </div>
                </div>
            </div>
            <div class=" divider2_desc_btn">
                <table class="table table-striped">
                    <thead>
                        <tr class="bg-info">
                            <th class="tableHeaders" tabindex="80">
                                <input type="submit" name="actionButton" value="First Name" class="btn-link" />
                            </th>
                            <th class="tableHeaders" tabindex="90">
                                <input type="submit" name="actionButton" value="Last Name" class="btn-link" />
                            </th>
                            <th class="no-click">
                                Address
                            </th>
                            <th class="no-click">
                                City
                            </th>
                            <th class="no-click">
                                Province
                            </th>
                            <th class="no-click">
                                Postal Code
                            </th>
                            <th class="no-click">
                                Phone
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="table-hover">
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustFirst)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustLast)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustCity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustProvince)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustPostal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneFormatted)
                                </td>
                                <td>
                                    <a class="btn_crud" asp-action="Edit" asp-route-id="@item.CustID">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <partial name="_PagingNavBar" />
        </form>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script src="https://kit.fontawesome.com/f8c88d6b79.js" crossorigin="anonymous"></script> 
</body>